@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}   

body{
  background-color: #333c95;
}

nav {
	background-color: #000;
	color: #fff;
	display: flex;
	justify-content: space-between;
	padding: 3px;
  }
  
  nav > h2 {
	position: relative;
	left: 60;
  }
  
  .nav-list {
	display: flex;
	justify-content: space-around;
	width: 35%;
	list-style: none;
	cursor: pointer;
  }
  
  /******** Items List ******/
  
  .items-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
  }
  
  /****** Item  box *********/
  .item-box {
	background-color: #fff;
	margin: 10px;
	padding: 20px;
	width: 200px;
	border-radius: 5px;
	border: 1px solid #ddd;
  }
  
  .item-quantity {
	color: #fff;
	background-color: #f0ad4e;
	display: flex;
	justify-content: center;
	justify-self: center;
	border-radius: 20px;
	max-width: 30px;
	position: relative;
	left: 40px;
  }
  
  .item-price {
	color: gray;
  }
  
  .item-add-button {
	background-color: #5cb85c;
	border-radius: 5px;
	color: #fff;
	border: none;
	font-size: 11px;
	cursor: pointer;
	height: 20px;
	width:100px;
  }
  
  .item-minus-button {
	background-color: #d9534f;
	border-radius: 5px;
	color: #fff;
	border: none;
	font-size: 11px;
	cursor: pointer;
	width:100px;
  }
  
  .item-plus-button {
	background-color: #337ab7;
	border-radius: 5px;
	color: #fff;
	border: none;
	font-size: 11px;
	cursor: pointer;
	width:100px;
  }
  
  /****** Shopping Cart ********/
  
  .cart-container {
	display: flex;
	justify-content: center;
	background: rgb(197, 197, 223);
	margin: 30px;
	border-radius: 5px;
	padding: 8px;
  }
  
  .cart-count {
	background-color: blue;
	border-radius: 20px;
	padding: 8px;
  }
  