.filters {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 700;
    color: white;
    margin-bottom: 20px; 
}
  
  .filters > div {
    display: flex;
    gap: 1rem;
  }